body {
    margin: 0px;
}

.canvas {
    width: 100%;
    border: 1px solid blue;
    box-sizing: border-box;
}

.row {
    width: 100%;
    border: 1px solid green;
    box-sizing: border-box;
}

.column {
    min-height: 50px;
    border: 1px solid red;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
}

.text {
    font-size: 14px;
    border: 1px solid yellow;
    box-sizing: border-box;
}

.title {
    font-size: 24px;
    border: 1px solid grey;
    box-sizing: border-box;
}
